/* Estilos generales para el body */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4; /* Fondo general de la página */
  text-align: center;
}

/* Estilos para el header */
header {
  background-color: #ffd200;
  color: white;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 2px solid #ccc;
}

.logo img {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  margin: 10px 0;
  font-size: 24px;
  color: #333;
}

/* Contenedor central para los iconos */
.iconos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 120px; /* Espacio para evitar que se superpongan con el header */
}

/* Estilos para el contenedor de cada icono */
.icono {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 150px;
  margin: 20px; /* Ajusta el margen para centrar y separar los iconos */
  text-align: center;
  vertical-align: top;
  border: 3px solid #ffd200; /* Borde amarillo para cada icono */
}

.icono img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.icono p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

/* Ajuste de la posición del formulario */
.form-container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px; /* Espacio para no interferir con los iconos */
}
